<div class="jumbotron center">
  <h1 class="display-4">Hello!</h1>
  <p class="lead center">To use application functionality please sign up. Already signed up? Sign in!</p>
  <hr class="my-4">
  <p>Application allows to menage personal shoppings' lists..</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>